---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> {{ post.date | date: "%Y年%m月%d日" }}</p>
      <!--a href="{{ site.baseurl }}{{ post.url }}" class="read-more">この記事を読む</a-->
    </article>
  {% endfor %}
</div>
{% if paginator.next_page %}<li><a href="/page{{ paginator.next_page }}/"> < 古い記事</a></li>{% endif %} | {% if paginator.previous_page %}<a href="/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}/{% endif %}">新しい記事 > </a>{% endif %}
